.title {
  font-size: 2rem;
  font-weight: bold;
}

.teams-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  list-style-type: none;
}

.team-randomizer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
}

.input-number {
  width: 60px;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
}

.make-teams-btn {
  padding: 10px 20px;
}

.clear-teams-btn {
  padding: 10px 20px;
}

.team {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #d1d5db 2px;
  border-radius: 0.5rem;
  width: 200px;
  list-style-type: none;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.6);
}

.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
